<style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .sidebar-nav {
    padding: 9px 0;
  }
</style>
<h1>Listing posts</h1>

<table>
  <tr>
    <th><%= link_to "User", {controller: :posts, action: :index, user: "1"} %></th>
    <th><%= link_to "Time", {controller: :posts, action: :index, time: "1"} %></th>
    <th><%= link_to "Place", {controller: :posts, action: :index, place: "1"} %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.user %></td>
    <td><%= post.time %></td>
    <td><%= post.place %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
